PORT=5000
MONGO_URI=mongodb://localhost:27017/work_timer_app
JWT_SECRET=CAMBIA_ESTE_SECRETO
JWT_EXPIRES_IN=12h

# Si usas archivo JSON físico de Service Account:
GOOGLE_SERVICE_ACCOUNT_KEY_PATH=./credentials/google-service-account.json

# O si prefieres variable con el JSON completo en una sola línea:
# GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account",...}

GOOGLE_DRIVE_FOLDER_ID=TU_FOLDER_ID_DE_DRIVE
GOOGLE_DRIVE_SHARE_PUBLIC=true
